## Programs with print outputs

In [ ]:
!pip install cx_Oracle

In [ ]:
!pip install mysql-connector-python

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to get the connection from Oracle DB**</font>

In [ ]:
#contest1.py
#Step-1: import the oracle module
import cx_Oracle
#Step-2: Extablish connection
try:
    anuconn=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    print("\nPython Program obtained Connection from Oracle DB")
    print("\nType of connection onbject'anuconn' ", type(anuconn))
except cx_Oracle.DatabaseError as db:
    print("Connection Problem:",db)

In [ ]:
#contest2.py
#Step-1: import the oracle module
import cx_Oracle
#Step-2: Extablish connection
try:
    anuconn=cx_Oracle.connect("anu/tiger@127.0.0.1:1522/ordb1")
    print("\nPython Program obtained Connection from Oracle DB")
    print("\nType of connection onbject'anuconn' ", type(anuconn))
except cx_Oracle.DatabaseError as db:
    print("Connection Problem:",db)

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to cerate an object of cursor in Oracle DB**</font>

In [28]:
#cursorobj1.py
#demonstrate cursor object creation
#Step-1 import modules
import cx_Oracle

#Step2: Obtain Connection
try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    print("\nPython Program obtained connection from Oracle DB")
    print("\nType og connection Object 'conobj'", type(conobj))
#Step3:Create Cursor Obj    
    curobj=conobj.cursor()
    print("\nCursor Obj Created")
    print("Type of Cursor object", type(curobj))
except cx_Oracle.DatabaseError as db:
    print("Connection Problem", db)

Python Program obtained connection from Oracle DB

Type og connection Object 'conobj' <class 'cx_Oracle.Connection'>

Cursor Obj Created
Type of Cursor object <class 'cx_Oracle.Cursor'>

In [33]:
#cursorobj1.py
import cx_Oracle

try:
    conobj=cx_Oracle.connect("anu/tiger@127.0.0.1:1522/ordb1")
    print("\nPython Program Obtained Connection from Oracle DB")
    print("\nType of the connection Object", type(conobj))
    curobj=conobj.cursor()
    print("\nCursor Object created")
    print("\nType of the cursor object", type(curobj))
except cx_Oracle.DatabaseError as db:
    print("Connection Problem", db)

Python Program Obtained Connection from Oracle DB

Type of the connection Object <class 'cx_Oracle.Connection'>

Cursor Object created

Type of the cursor object <class 'cx_Oracle.Cursor'>

### DDL Operations

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to cerate a table in in Oracle DB**</font>

In [1]:
#createtble1.py
import cx_Oracle
try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    cq="create table student(stno number(2) primary key, name varchar2(15) not null, marks number(5,2) not null)"
    curobj.execute(cq)
    print("\nTable Created successfully")
except cx_Oracle.DatabaseError as db:
    print("DB Error:", db)

DB Error: ORA-00955: name is already used by an existing object

In [4]:
#createtable2.py
import cx_Oracle
try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    curobj.execute("create table student(stno number(2) primary key, name varchar2(15) not null, marks number(5,2) not null)")
    print("\nTable Created Successfully")
except cx_Oracle.DatabaseError as db:
    print("DB Error:", db)

DB Error: ORA-00955: name is already used by an existing object

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to alter a table in in Oracle DB**</font>

In [5]:
#altertble1.py
import cx_Oracle
try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    print("\nConnected to the database successfully")
    curobj=conobj.cursor()
    print('\nCursor object created Successfully')
    query1="alter table student modify(stno number(3))"
    query2="alter table student add(cname varchar2(30))"

    curobj.execute(query1)
    print("\nFirst query executed successfully")
    curobj.execute(query2)
    print("\nSecond query executed successfully")

except cx_Oracle.DatabaseError as db:
    print("Problem with altering the database tables:", db)

Connected to the database successfully

Cursor object created Successfully

First query executed successfully

Second query executed successfully

<font color='#D2691E'>**Qn) Write a Python Program to  create an employee table in in Oracle DB**</font>

In [13]:
#employeetbl.py
#This Program demonstrates how to create a table in Oracle DB

#Step1
import cx_Oracle

#step2
try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    cq="create table employee(eno number(2) primary key, name varchar2(10) not null, sal number(8,2) )"
    curobj.execute(cq)
    print("\nTable Created in the OracleDatabase -- Please verify")
except cx_Oracle.DatabaseError as db:
    print("\nDatabase Exception:", db)

Table Created in the OracleDatabase -- Please verify

<font color='#D2691E'>**Qn) Write a Python Program to  modify the employee table(add column) in in Oracle DB**</font>

In [14]:
#alteraddex1.py
#This program will demonstrate how to add a new column in the table using python program
import cx_Oracle

try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    cq="alter table employee add(cname varchar2(15) not null)"
    curobj.execute(cq)
    print("\nTable altered with a new column")
except cx_Oracle.DatabaseError as db:
    print("\nDatabase esception", db)

Table altered with a new column

<font color='#D2691E'>**Qn) Write a Python Program to  modify the employee table(modify column) in in Oracle DB**</font>

In [15]:
#altermodifyex1.py
#This program will demonstrate how to modify an oracle database table using python programming
import cx_Oracle

try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    curobj.execute("alter table employee modify(eno number(3), name varchar2(15))")
    print("\nEmployee table modified successfully")
except cx_Oracle.DatabaseError as db:
    print("\nDatabase Exception", db)

Employee table modified successfully

<font color='#D2691E'>**Qn) Write a Python Program to  drop the employee table in Oracle DB**</font>

In [16]:
#droptbleex.py
#This program will demonstrate how to drop a table using python program. 
import cx_Oracle

try:
    conobj=cx_Oracle.connect("anu/tiger@localhost:1522/ordb1")
    curobj=conobj.cursor()
    curobj.execute("drop table employee")
    print("\nEmployee Table dropped Successfully")
except cx_Oracle.DatabaseError as db:
    print("\nDatabase Exception", db)

Employee Table dropped Successfully

## Program with logging

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to cerate a table in in Oracle DB**</font>

In [ ]:
# This program will demonstrate how to create tables on Oracle Database
# emptable.py

import cx_Oracle
import logging

logging.basicConfig(filename="emptable.log", level=logging.INFO,
                    format='%(asctime)s: %(levelname)s: %(name)s: %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    con = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = con.cursor()
    logging.info("Oracle Database Cursor Object Created")
    cq = "create table employee1(eno number(2) primary key, name varchar2(15) not null, sal number(8,2) not null )"
    cur.execute(cq)
    logging.info("Successfully Created the table in Oracle database")
except cx_Oracle.DatabaseError as dbe:
    logging.exception(dbe)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)

<font color='#D2691E'>**Qn) Write a Python Program which will demonstrate how to alter a table in in Oracle DB**</font>

In [ ]:
# write a python program which demonstrate how to alter the table
# altermodifyex1.py

import cx_Oracle
import logging

logging.basicConfig(filename="altermodifyex1.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    con = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = con.cursor()
    logging.info("Oracle Database Cursor Object Created")
    cq = "alter table employee modify (eno number(5),name varchar2(15) )"
    cur.execute(cq)
    logging.info("Successfully modified the table in Oracle database")

except cx_Oracle.DatabaseError as de:
    logging.exception(de)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)
except AttributeError as ae:
    logging.exception(ae)

<font color='#D2691E'>**Qn) Write a Python Program to  modify the employee table(add column) in in Oracle DB**</font>

In [ ]:
# write a python program which demonstrate how to alter the table
# alteraddex.py

import cx_Oracle
import logging

logging.basicConfig(filename="altermodifyex1.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    con = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = con.cursor()
    logging.info("Oracle Database Cursor Object Created")
    cq = "alter table employee add cname varchar2(10) not null"
    cur.execute(cq)
    logging.info("Successfully added a new column to the table in Oracle database")

except cx_Oracle.DatabaseError as de:
    logging.exception(de)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)
except AttributeError as ae:
    logging.exception(ae)

<font color='#D2691E'>**Qn) Write a Python Program to  drop the employee table in Oracle DB**</font>

In [ ]:
## DML Operations

<font color='#D2691E'>**Qn) Write a Python Program which will insert Employee record data in employee table in Oracle DB**</font>

# write a python program which demonstrate how to alter the table
# alterdropex.py

import cx_Oracle
import logging

logging.basicConfig(filename="alterdropex.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    con = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = con.cursor()
    logging.info("Oracle Database Cursor Object Created")
    cq = "drop table employee"
    cur.execute(cq)
    logging.info("Successfully dropped the table in Oracle database")

except cx_Oracle.DatabaseError as de:
    logging.exception(de)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)
except AttributeError as ae:
    logging.exception(ae)

## DML Operations

### Insert

<font color='#D2691E'>**Qn) Write a Python Program which will insert Employee record data in employee table in Oracle DB**</font>

In [ ]:
# insertex1.py
# write a python program which will insert employee record data in employee table of oracle -- with static data.

import cx_Oracle
import logging

logging.basicConfig(filename="insertex1.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = conn.cursor()
    logging.info("Oracle Database Cursor Object Created")
    cq = "insert into employee values(3,'Malu',25.50)"
    logging.info("Trying to insert the data into the employee table")
    cur.execute(cq)
    logging.info("Successfully inserted the data in to the employee table")
    conn.commit()
except cx_Oracle.DatabaseError as dbe:
    logging.exception(dbe)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)

In [ ]:
# insertex2.py
# write a python program which will insert the employee record dynamically in employee table of oracle

import cx_Oracle
import logging

logging.basicConfig(filename="insertex2.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


def empinsert():
    try:
        logging.info("Trying to establish the Oracle database connection.")
        conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully established the database connection")
        cur = conn.cursor()
        logging.info("Oracle Database Cursor Object Created")
        logging.info("Accept Employee data dynamically from keyboard")

        try:
            eno = int(input("Enter employee number:"))
        except ValueError as ve:
            logging.exception("Employee number must be an integer", ve)
        name = input("Enter employee name:")
        try:
            sal = float(input("Enter employee salary:"))
        except ValueError:
            logging.exception("Salary should be an integer or float value; str/special symbol are not accepted")

        logging.info("Trying to insert the data into the employee table")

        iq = "insert into employee values(%d,'%s',%f)"

        cur.execute(iq %(eno, name, sal))

        #(OR)   cur.execute("insert into employee values(%d, '%s', %f)" %(eno, name, sal))

        logging.info("{} employee record inserted Successfully".format(cur.rowcount))
        conn.commit()
    except cx_Oracle.DatabaseError as dbe:
        logging.exception(dbe)
    except TypeError as te:
        logging.exception(te)
    except ValueError as ve1:
        logging.exception(ve1)

#main program
empinsert()

In [ ]:
# insertex3.py
# write a python program which will insert the employee record dynamically in employee table of oracle continuously
import sys

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="insertex3.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


def empinsert():
    while(True):
        try:
            logging.info("Trying to establish the Oracle database connection.")
            conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
            logging.info("Successfully established the database connection")
            cur = conn.cursor()
            logging.info("Oracle Database Cursor Object Created")
            logging.info("Accept Employee data dynamically from keyboard continuously")
            try:
                eno = int(input("Enter employee number:"))
            except ValueError as ve:
                logging.exception("Employee number must be an integer", ve)
            name = input("Enter employee name:")
            try:
                sal = float(input("Enter employee salary:"))
            except ValueError:
                logging.exception("Salary should be an integer or float value; str/special symbol are not accepted")

            logging.info("Trying to insert the data into the employee table")

            iq = "insert into employee values(%d,'%s',%f)"

            cur.execute(iq %(eno, name, sal))

            #(OR)   cur.execute("insert into employee values(%d, '%s', %f)" %(eno, name, sal))

            logging.info("{} employee record inserted Successfully".format(cur.rowcount))
            conn.commit()
        except cx_Oracle.DatabaseError as dbe:
            logging.exception(dbe)
        except TypeError as te:
            logging.exception(te)
        except ValueError as ve1:
            logging.exception(ve1)

        ch=input("Do you want to insert another record:")
        if ch == "no":
            sys.exit()


#main program
empinsert()

### delete

<font color='#D2691E'>**Qn) Write a Python Program which will delete Employee record data in employee table in Oracle DB**</font>

In [ ]:
# deleteex1.py
# write a python program which will delete a record based on employee number.

import cx_Oracle
import logging

logging.basicConfig(filename="deleteex1.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying to establish the Oracle database connection.")
    conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the database connection")
    cur = conn.cursor()
    logging.info("Oracle Database Cursor Object Created")
    dq = "delete from employee where eno=1"
    logging.info("Trying to delete the record from the employee table")
    cur.execute(dq)
    logging.info("Successfully deleted the record from the employee table")
    conn.commit()
except cx_Oracle.DatabaseError as dbe:
    logging.exception(dbe)
except TypeError as te:
    logging.exception(te)
except ValueError as ve:
    logging.exception(ve)

In [ ]:
# deleteex2.py
# write a python program which will delete a record based on employee number.

import cx_Oracle
import logging

logging.basicConfig(filename="deleteex2.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


def empdelete():
    while (True):
        try:
            logging.info("Trying to establish the Oracle database connection.")
            conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
            logging.info("Successfully established the database connection")
            cur = conn.cursor()
            logging.info("Oracle Database Cursor Object Created")
            logging.info("Accept the employee number form KBD")
            eno = int(input("Enter the employee number:"))
            # dq = "delete from employee where eno=1"
            logging.info("Trying to delete the record from the employee table")
            cur.execute("delete from employee where eno=%d" % (eno))
            conn.commit()
            if (cur.rowcount > 0):
                logging.info("Successfully deleted {} record from the employee table".format(cur.rowcount))
            else:
                logging.info("Record does not exist.")
        except cx_Oracle.DatabaseError as dbe:
            logging.exception(dbe)
        except TypeError as te:
            logging.exception(te)
        except ValueError:
            logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
        ch = input("Do you want to delete another record:")
        if ch == "no":
            logging.info("Thanks for using this program!......")
            break


# main program
empdelete()

In [ ]:
# deleteex3.py
# write a python program which will delete employee records whose salary is more than 5.0 lacks

import cx_Oracle
import logging

logging.basicConfig(filename="deleteex3.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


def empdelete():
    try:
        logging.info("Trying to establish the Oracle database connection.")
        conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully established the database connection")
        cur = conn.cursor()
        logging.info("Oracle Database Cursor Object Created")
        logging.info("Accept the employee number form KBD")
        sal = float(input("Enter the salary limit:"))
        logging.info("Trying to delete the records from the employee table")
        cur.execute("delete from employee where sal>%f" % (sal))
        conn.commit()
        if (cur.rowcount > 0):
            logging.info("Successfully deleted {} record from the employee table".format(cur.rowcount))
        else:
            logging.info("Record does not exist.")
    except cx_Oracle.DatabaseError as dbe:
        logging.exception(dbe)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    logging.info("Thanks for using this program!......")


# main program
empdelete()

### update

<font color='#D2691E'>**Qn) write a python program which will update employee salary based on employee number.**</font>

In [ ]:
# updateex1.py
# write a python program which will update employee salary based on employee number.

import cx_Oracle
import logging

logging.basicConfig(filename="updateex1.log", level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

try:
    logging.info("Trying the establish the Oracle Database Connection")
    conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
    logging.info("Successfully established the Oracle Database Connection")
    cur = conn.cursor()
    logging.info("Created Cursoe object")
    uq = "update employee set sal=sal+sal*0.1 where eno=3"
    cur.execute(uq)
    logging.info("Successfully updated the employee table")
    conn.commit()
    logging.info("Database commit operation completed successfully")
    if (cur.rowcount>0):
        logging.info("{} record updated successfully".format(cur.rowcount))

except cx_Oracle.DatabaseError as de:
    logging.exception("de")
except NameError as ne:
    logging.exception(ne)

<font color='#D2691E'>**Qn) write a python program which will update employee salary based on employee number dynamically and continuously.**</font>

In [ ]:
# updateex2.py
# write a python program which will update employee salary based on employee number dynamically and continuously.

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="updateex2.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


def empupdate():
    while (True):
        try:
            logging.info("Trying to establish the Oracle database connection.")
            conn = cx_Oracle.connect("anu/tiger@localhost/orcl")
            logging.info("Successfully established the database connection")
            cur = conn.cursor()
            logging.info("Oracle Database Cursor Object Created")
            logging.info("Accept the employee number form KBD")
            eno = int(input("Enter the employee number:"))
            sal = float(input("Enter the salary:"))
            logging.info("Trying to update the record from the employee table")
            cur.execute("update employee set sal=%f where eno=%d" % (sal,eno))
            conn.commit()
            if (cur.rowcount > 0):
                logging.info("Successfully updated {} record from the employee table".format(cur.rowcount))
            else:
                logging.info("Record does not exist.")
        except cx_Oracle.DatabaseError as dbe:
            logging.exception(dbe)
        except TypeError as te:
            logging.exception(te)
        except ValueError:
            logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
        except NameError as ne:
            logging.exception(ne)
        ch = input("Do you want to delete another record:")
        if ch == "no":
            logging.info("Thanks for using this program!......")
            sys.exit()


# main program
empupdate()

## DRL Operations

### select with fetchone()

In [ ]:
# selectex1.py
# write a python program which will all the records form employee table using fetchone()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex1.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex1.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        record = cur.fetchone()
        logging.info("Select query executed successfully")
        print(record)
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

In [ ]:
# selectex2.py
# write a python program which will print/collect  all the records form employee table using fetchone()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex2.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex2.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        while (True):
            record = cur.fetchone()
            if (record != None):
                print(record)
            else:
                logging.info("Select query executed successfully")
                sys.exit()

    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

In [ ]:
# selectex3.py
# write a python program which will print/collect  all the records form employee table using fetchone()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex3.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex3.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        print("-"*50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        while (True):
            record = cur.fetchone()
            if (record != None):
                for val in record:
                    print("\t{}".format(val), end = " ")
                print()

            else:
                print("-" * 50)
                logging.info("Select query executed successfully")
                sys.exit()

    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

### select with fetchmany()

In [ ]:
# selectex4.py
# write a python program which will all the records form employee table using fetchmany()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex4.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')


# To redirect the print output to the log file

log = open("selectex4.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        record = cur.fetchmany(-1)
        logging.info("Select query executed successfully")
        print(record)
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

[(1, 'Anu', 6.6), (2, 'Kannan', 6.5), (3, 'Malu', 7.5), (4, 'Roshni', 6.7), (5, 'Rohith', 7.5)]

In [ ]:
# selectex5.py
# write a python program which will all the records form employee table using fetchmany()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex5.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex5.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        print("-" * 50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        records = cur.fetchmany(5)
        for val in records:
            print("\t{}".format(val))
        logging.info("Select query executed successfully")
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()


--------------------------------------------------
	E m p l o y e e  	R e c o r d s
--------------------------------------------------
	(1, 'Anu', 6.6)
	(2, 'Kannan', 6.5)
	(3, 'Malu', 7.5)
	(4, 'Roshni', 6.7)
	(5, 'Rohith', 7.5)

In [ ]:
# selectex6.py
# write a python program which will all the records form employee table using fetchmany()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex6.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex6.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        print("-" * 50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        records = cur.fetchmany(5)
        for record in records:
            for val in record:
                print("\t{}".format(val), end="")
            print()
        logging.info("Select query executed successfully")
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

records = cur.fetchmany(-1)
--------------------------------------------------
	E m p l o y e e  	R e c o r d s
--------------------------------------------------

records = cur.fetchmany(5)
--------------------------------------------------
	E m p l o y e e  	R e c o r d s
--------------------------------------------------
	1	Anu	6.6
	2	Kannan	6.5
	3	Malu	7.5
	4	Roshni	6.7
	5	Rohith	7.5
 
records = cur.fetchmany(0)
--------------------------------------------------
	E m p l o y e e  	R e c o r d s
--------------------------------------------------
	1	Anu	6.6
	2	Kannan	6.5
	3	Malu	7.5
	4	Roshni	6.7
	5	Rohith	7.5
	6	Vaishnavi	4.7
	7	Mohan	5.3
	8	Sham	7.1
	9	Ram	5.6
	10	Bhagath	6.5    
    
records = cur.fetchmany(25)
--------------------------------------------------
	E m p l o y e e  	R e c o r d s
--------------------------------------------------
	1	Anu	6.6
	2	Kannan	6.5
	3	Malu	7.5
	4	Roshni	6.7
	5	Rohith	7.5
	6	Vaishnavi	4.7
	7	Mohan	5.3
	8	Sham	7.1
	9	Ram	5.6
	10	Bhagath	6.5

### select with fetchall()

In [ ]:
# selectex7.py
# write a python program which will all the records form employee table using fetchall()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex7.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex7.log", 'a')
sys.stdout = log

def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        record = cur.fetchall()
        logging.info("Select query executed successfully")
        print(record)
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

In [ ]:
# selectex8.py
# write a python program which will all the records form employee table using fetchall()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex8.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex8.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connectd to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        record = cur.fetchall()
        logging.info("Select query executed successfully")
        print(record)
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

In [ ]:
# selectex9.py
# write a python program which will all the records form employee table using fetchall()

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex9.log", filemode='w', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex9.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connect to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee order by name"
        cur.execute(sq)
        print("-" * 50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        records = cur.fetchall()
        for record in records:
            for val in record:
                print("\t{}".format(val), end="")
            print()
        logging.info("Select query executed successfully")
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

<font color='#D2691E'>**Qn)write a python program which will all the records form employee table using fetchall() also print the column name**</font>

In [ ]:
# selectex10.py
# write a python program which will all the records form employee table using fetchall() also print the column name

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex10.log", filemode='a', level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex10.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connect to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        sq = "select * from employee"
        cur.execute(sq)
        print("-" * 50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        # To Display the column names
        columns = cur.description
        # print(columns[0][0],"\t",columns[1][0],"\t",columns[2][0])
        colnames = [str(var[0]) for var in columns]
        for colmname in colnames:
            print("\t{}".format(colmname), end="")
        print()
        print("-" * 50)
        # To display the records
        records = cur.fetchall()
        for record in records:
            for val in record:
                print("\t{}".format(val), end="")
            print()
        print("-" * 50)
        logging.info("Select query executed successfully")
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()

<font color='#D2691E'>**Qn) write a python program which will retrive all the records of enployee table whose salary is less than 7 lakhs**</font>

In [ ]:
# selectex11.py
# write a python program which will retrive all the records of enployee table whose salary is less than 7 lakhs

import cx_Oracle
import logging
import sys

logging.basicConfig(filename="selectex11.log", filemode='a', level=logging.INFO,
   <font color='#D2691E'>**Qn) write a python program which will update employee salary based on employee number dynamically and continuously.**</font>
                 format='%(asctime)s %(levelname)s %(name)s %(message)s')

# To redirect the print output to the log file

log = open("selectex11.log", 'a')
sys.stdout = log


def readrecord():
    try:
        logging.info("Trying to connect to the Oracle database")
        con = cx_Oracle.connect("anu/tiger@localhost/orcl")
        logging.info("Successfully connect to the Oracle database")
        cur = con.cursor()
        logging.info("cursor object created successfully")
        # sq = "select * from employee where sal > 7"
        sq = "select * from employee where sal < 7"

        cur.execute(sq)
        print("-" * 50)
        print("\tE m p l o y e e  \tR e c o r d s")
        print("-" * 50)
        # To Display the column names
        columns = cur.description
        # print(columns[0][0],"\t",columns[1][0],"\t",columns[2][0])
        colnames = [str(var[0]) for var in columns]
        for colmname in colnames:
            print("\t{}".format(colmname), end="")
        print()
        print("-" * 50)
        # To display the records
        records = cur.fetchall()
        for record in records:
            for val in record:
                print("\t{}".format(val), end="")
            print()
        print("-" * 50)
        logging.info("Select query executed successfully")
    except cx_Oracle.DatabaseError as de:
        logging.exception(de)
    except TypeError as te:
        logging.exception(te)
    except ValueError:
        logging.error("Don't enter str/Symbols/alpha-numeric in place of numbers")
    except NameError as ne:
        logging.exception(ne)


# main program
readrecord()