<h1><center>4.2.4 Sequence Category Data Types 4 -- Range</center></h1>

- <font color='Blue'> **'range'**</font> is one pre-defined class and treated as <font color='Blue'> *sequence data type*</font>.
- The purpose of range data type is that <font color='Blue'> *"To store sequence of Numerical Integer values by maintaining equal Interval of value".*</font>
- An object of range is <font color='Blue'> **immutable**</font> bcoz range object does not allow Item 
    assignment.
- On the object of range , we can perform <font color='Blue'> *Indexing & slicing*</font> Operations.
- To cerate an object of range , we use the function <font color='Blue'> **range()**</font>
- range() contains <font color='Blue'> **3 syntaxes**</font>. They are

#### Syntax 1
<code><font color='#D2691E'>**varname= range(value)**</font></code>
> `This syntax creates an object of range from  "0" to "value-1"`
#### Syntax 2
<code><font color='#D2691E'>**varname= range(Start, Stop)**</font></code>
> `This syntax creates an object of range from "start value" to "stop value-1"`

> <font color='Blue'>Note: ***In Syntax1 and Syntax2, the default interval value is 1***</font>

#### Syntax 3
<code><font color='#D2691E'>**varname= range(Start, Stop, step)**</font></code>
> `This syntax creates an object of range from "start value" to "stop value-1"  by maintaining specified  "step value"( Step value  is nothing equal interval of value)`

### Examples: Syntax 1 [<font color='#D2691E'>**varname= range(value)**</font>]

<font color='Blue'> **Q1)Generate Value from 0 to 5**</font>

In [6]:
r=range(6)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(0, 6) <class 'range'>
------------------------------
The values in the specified range are
0
1
2
3
4
5

### Examples: Syntax 2 [<font color='#D2691E'>**varname= range(Start, Stop)**</font>]

<font color='Blue'> **Q1) Generate values between 10 and 15**</font>

In [7]:
r=range(10,16)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(10, 16) <class 'range'>
------------------------------
The values in the specified range are:
10
11
12
13
14
15

<font color='Blue'> **Q2) Generate values between 20 & 25**</font>

In [9]:
r=range(20,26)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(20, 26) <class 'range'>
------------------------------
The values in the specified range are:
20
21
22
23
24
25

### Examples: Syntax 3 [<font color='#D2691E'>**varname= range(Start, Stop, step)**</font>]

<font color='Blue'> **Q1)Generate 1   2    3     4     5    6     7    8   9   10**</font>

In [11]:
r=range(1,11)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(1, 11) <class 'range'>
------------------------------
The values in the specified range are:
1
2
3
4
5
6
7
8
9
10

<font color='Blue'> **Q2) generate 10 20 30 40 50 60 70 80 90 100**</font>

In [12]:
r=range(10, 101, 10)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(10, 101, 10) <class 'range'>
------------------------------
The values in the specified range are:
10
20
30
40
50
60
70
80
90
100

<font color='Blue'> **Q3) Generate 100 105 110 115 120**</font>

In [14]:
r=range(100, 120, 5)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(100, 120, 5) <class 'range'>
------------------------------
The values in the specified range are:
100
105
110
115

<font color='Blue'> **Q4) Generate -1   -2   -3   -4   -5  -6  -7  -8  -9  -10**</font>

In [15]:
r=range(-1, -11, -1)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(-1, -11, -1) <class 'range'>
------------------------------
The values in the specified range are:
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

<font color='Blue'> **Q5) Generate -100   -110    -120   -130 -140  -150**</font>

In [16]:
r=range(-100, -151, -10)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(-100, -151, -10) <class 'range'>
------------------------------
The values in the specified range are:
-100
-110
-120
-130
-140
-150

<font color='Blue'> **Q6) Generate 10 9 8 7 6 5 4 3 2 1**</font>

In [17]:
r=range(10, 0, -1)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(10, 0, -1) <class 'range'>
------------------------------
The values in the specified range are:
10
9
8
7
6
5
4
3
2
1

<font color='Blue'> **Q7) Generate 100 90 80 70 60 50**</font>

In [20]:
r=range(100, 49, -10)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(100, 49, -10) <class 'range'>
------------------------------
The values in the specified range are:
100
90
80
70
60
50

<font color='Blue'> **Q8) Generate -10 -9 -8 -7 -6 -5 -4 -3 -2 -1**</font>

In [21]:
r=range(-10,0,1)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(-10, 0) <class 'range'>
------------------------------
The values in the specified range are:
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

<font color='Blue'> **Q9) Generate -5 -4 -3 -2 -1 0 1 2 3 4 5**</font>

In [22]:
r=range(-5,6,1)
print(r, type(r))
print('-'*30)
print("The values in the specified range are:")
for v in r:
    print(v)

range(-5, 6) <class 'range'>
------------------------------
The values in the specified range are:
-5
-4
-3
-2
-1
0
1
2
3
4
5

<font color='Blue'> **Q10) Generate a multiplication table for number 9**</font>

In [24]:
n=9
r=range(1,11)
for i in r:
    print(n,"*",i,"=",n*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90