<h1><center>Collection Catagery Data Types -- (List/Tuple Data Types)</h1></center>

* In Collection Catagery Data Types, the **List** and **Tuple** are used for **storing Multiple Values either of same type or different type or both types with Unique and Duplicate Values in a single variable**.
* Collection Catagery Data Types are classified into 2 types. They are
    - **list**
    - **tuple**

### List

#### Index:
- Purpose
- Organization of elements
- Operations on List
- Pre-defined Functions in list
- Inner / Nested List
- Pre-defined Functions in inner / nested list

#### Properties of list:

- 'list' is one of the pre-defined class and treated as List catagery data type.
- The purpose of list data type is that `"To store Multiple Values either of same type or different type or both types with Unique and Duplicate Values in a single variable"`
- The elements of list must written within Square Brackets [] and elements must separated by comma.
- An object of list `maintains Insertion Order` ( In which ever order we insert the data in the object of list, in the same order elements will be displayed")
- On the object of list , we can perform both `indexing & slicing` Operations.
- An object of list is <font color='Blue'> **mutable**</font>
- We create two types of lists. They are
>		a) Empty List
		 b) Non-empty list
-  An Empty List  is one, whose length=0  (no elements  presents)
##### Syntax:-       
<code><font color='#D2691E'>**listobj=[]     (OR)   listobj=list()**</font></code>
-  An Non Empty List  is one, whose length>0 (elements presents)
##### Syntax:-    
<code><font color='#D2691E'>**listobj=[val1,val2,...val-n]**</font></code>
- To convert one type elements into list values, we use list(object)

### Examples:

In [2]:
l=[10,12,-4,25,67]
print(l, type(l))
len(l)

[10, 12, -4, 25, 67] <class 'list'>

5

In [4]:
l1=[10,"Rossum",11.11,"CWI","NL",2+3j,True]
print(l1)
print(type(l1))
print(len(l1))

[10, 'Rossum', 11.11, 'CWI', 'NL', (2+3j), True]
<class 'list'>
7

In [5]:
l2=[]
print(l2,type(l2))
len(l2)

[] <class 'list'>

0

In [6]:
l3=list()
print(l3,type(l3))
print(len(l3))

[] <class 'list'>
0

In [13]:
l1=[10,"Rossum",11.11,"CWI","NL",2+3j,True]
print(l1, type(l1))
print(l1[0])
print(l1[-1])
print(l1[0:4])
print(l1[::2])
print(l1[::-1])

[10, 'Rossum', 11.11, 'CWI', 'NL', (2+3j), True] <class 'list'>
10
True
[10, 'Rossum', 11.11, 'CWI']
[10, 11.11, 'NL', True]
[True, (2+3j), 'NL', 'CWI', 11.11, 'Rossum', 10]

In [14]:
l1=[10,"Rossum",11.11,"CWI","NL",2+3j,True]
print(l1, type(l1), id(l1))

[10, 'Rossum', 11.11, 'CWI', 'NL', (2+3j), True] <class 'list'> 2257512707840

In [16]:
l1[-1]=False
print(l1, type(l1), id(l1))

[10, 'Rossum', 11.11, 'CWI', 'NL', (2+3j), False] <class 'list'> 2257512707840

<font color='blue'>***Note:***</font>

Note down the following examples on **interview** point of view
<code>
a=10
list(a)
</code>

Execution of above statement will give rice to following exception:
<code>
----> 2 list(a)
    <font color='red'>**TypeError**</font>: 'int' object is not iterable</code>

In [19]:
a=10
l1=list([a])
print(l1,type(l1))

[10] <class 'list'>

In [20]:
a=100.2
l1=[a]
print(l1,type(l1))

[100.2] <class 'list'>