## Collection Catagery Data Type - 2: Tuple and Its pre-defined functions

- '**tuple**' is one of the pre-defined class and terated list/collection type data type.
- The purpose of tuple data type is that "To store Multiple Values either of same type or different type or both types with Unique and Duplicate Values in a single variable"
- The elements of tuple must written within braces ( ) and elements must separated by comma.
- An object of tuple maintains Insertion Order ( In which ever order we insert the data in the object of tuple, in the same order elements will be displayed")
- On the object of tuple, we can perform both indexing and slicing Operations.
- An object of tuple is **immutable**
- We create two types of tuples. They are
		a) Empty tuple
		b) Non-empty tuple
-  An Empty tuple  is one, whose length=0  (no elements  presents)
		
##### Syntax:-       
<code><font color='#D2691E'>**tupleobj=()   (OR)   tupleobj=tuple()**</font></code>
-  A Non Empty tuple is one, whose length>0 (elements presents)

##### Syntax:-    
<code><font color='#D2691E'>**tupleobj=(val1,val2,...val(n-1) )**</font></code>
- To convert one type elements into tuple values, we use tuple(object)

**Note:-**  

The Functionality of tuple is exactly similar to List but an object of **list belongs to mutable** and an object of **tuple belongs to immutable**.

##### Examples:

In [1]:
t1=(10,20,-3,45,123,67,20)
print(t1, type(t1))

(10, 20, -3, 45, 123, 67, 20) <class 'tuple'>

In [2]:
t2=(10,"Rossum",45.67,"Python",True)
print(t2, type(t2))

(10, 'Rossum', 45.67, 'Python', True) <class 'tuple'>

In [3]:
t3=()
print(t3, type(t3))

() <class 'tuple'>

In [4]:
t4=tuple()
print(t4, type(t4))

() <class 'tuple'>

In [5]:
t2=(10,"Rossum",45.67,"Python",True)

In [6]:
print(t2[0])

10

In [7]:
print(t2[0:3])

(10, 'Rossum', 45.67)

In [8]:
print(t2[-1])

True

In [10]:
print(t2[::2])

(10, 45.67, True)

In [11]:
print(t2,type(t2), id(t2))

(10, 'Rossum', 45.67, 'Python', True) <class 'tuple'> 1307651733280

In [12]:
t2[2]=56.56

TypeError: 'tuple' object does not support item assignment

In [13]:
t1=(12,3,-4,45,23,78,4,1,12)

In [14]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

**Note:-**

There is no direct sort mechanism in tuple. To do that we need to convert the tuple in to list and sort the value with in the list and then convert it back to tuple. If we try to apply sort function in the tuple, we get "<font color='red'>**AttributeError**</font>: 'tuple' object has no attribute 'sort'  "

In [25]:
t1=(12,3,-4,45,23,78,4,1,12)
l1=list(t1)
print(l1)

[12, 3, -4, 45, 23, 78, 4, 1, 12]

In [29]:
l1.sort()

In [30]:
l2=l1.copy()

In [31]:
print(l2)

[-4, 1, 3, 4, 12, 12, 23, 45, 78]

In [32]:
t2=tuple(l2)

In [33]:
print("Initial Tuple:", t1, type(t1))
print("Converted list from tuple:",l1, type(l1))
print("Sorted list:", l2, type(l2))
print("Sorted Tuple:",t2, type(t2))

Initial Tuple: (12, 3, -4, 45, 23, 78, 4, 1, 12) <class 'tuple'>
Converted list from tuple: [-4, 1, 3, 4, 12, 12, 23, 45, 78] <class 'list'>
Sorted list: [-4, 1, 3, 4, 12, 12, 23, 45, 78] <class 'list'>
Sorted Tuple: (-4, 1, 3, 4, 12, 12, 23, 45, 78) <class 'tuple'>

##### Special Case Examples:

In [34]:
x=10,20,"KVR","OUCET",True
print(x, type(x))

(10, 20, 'KVR', 'OUCET', True) <class 'tuple'>

In [1]:
t1=(10,"Rossum",(16,75,51),"KLU")
print(t1,type(t1))

(10, 'Rossum', (16, 75, 51), 'KLU') <class 'tuple'>

In [2]:
print(t1[2])

(16, 75, 51)

In [4]:
t2=(10,"Rossum",[16,75,51],"KLU")
print(t2,type(t2))

(10, 'Rossum', [16, 75, 51], 'KLU') <class 'tuple'>

In [5]:
print(t2[2], type(t2[2]))

[16, 75, 51] <class 'list'>

In [6]:
t2[2].sort()

In [7]:
print(t2[2])

[16, 51, 75]

In [43]:
print(t2,type(t2))

(10, 'Rossum', [16, 46, 51], 'KLU') <class 'tuple'>

In [45]:
l1=[10,"KVR",(10,20,12),"OUCET"]
print(l1, type(l1))
print(l1[2], type(l1[2]))

[10, 'KVR', (10, 20, 12), 'OUCET'] <class 'list'>
(10, 20, 12) <class 'tuple'>

<font color='#3498DB'>**Note:-**

We acn have ***list inside tuple*** as well as ***tuple inside the list***. The list inside tuple is **mutable** because the list itself is mutable where as the tuple inside a list is immutable because tuple is immutable by it's nature. See the following examples for proof.</font>

In [49]:
t2=(10,"Rossum",[16,46,51],"KLU")
print(t2,id(t2))
t2[2].append(66)
print(t2,id(t2))

(10, 'Rossum', [16, 46, 51], 'KLU') 1307630902144
(10, 'Rossum', [16, 46, 51, 66], 'KLU') 1307630902144

In [56]:
l2=[10,"Rossum",(16,46,51),"KLU"]
print(l2,type(l2), id(l2))
print(l2[2], type(l2[2]), id(l2[2]))

[10, 'Rossum', (16, 46, 51), 'KLU'] <class 'list'> 1307657275456
(16, 46, 51) <class 'tuple'> 1307648237312

In [57]:
l2.append(45)
print(l2, type(l2), id(l2))

[10, 'Rossum', (16, 46, 51), 'KLU', 45] <class 'list'> 1307657275456

In [58]:
l2[2].append(59)

AttributeError: 'tuple' object has no attribute 'append'

## Pre-defined Functions in tuple

- Tuple object contains two Functions. They are
	 1. <font color='#3498DB'>**count()**</font>
     2. <font color='#3498DB'>**index()**</font>
      
- The following functios were not supported because, tuple is immutable and therefore, the functions which try to alter its data will throw exceptions. Following re the unsupported functions in tuple. 

     1. <font color='#3498DB'>**append()**</font>
     2. <font color='#3498DB'>**insert()**</font>
     3. <font color='#3498DB'>**clear()**</font>
     4. <font color='#3498DB'>**remove()**</font>
     5. <font color='#3498DB'>**pop(Index)**</font>
     6. <font color='#3498DB'>**pop()**</font>
     7. <font color='#3498DB'>**copy()**</font>   
     8. <font color='#3498DB'>**reverse()**</font>
     9. <font color='#3498DB'>**sort()**</font>
     10. <font color='#3498DB'>**extend()**</font>