## Set Category Data Types  (Collection Data Types)

* Set Category Data Types are used for storing Multiple Values either of same type or different type or both types with **Unique  Values in a single variable**.
* Set Category Data Types are 2 types. They are
    * set (mutable and immutable)
    * frozenset ( immutable )

### Set

* 'set' of one of the pre-defined class treated as Set category data type.
* The purpose of set data type is that "To Store Multiple Values either of same type or different type or both types with Unique  Values in a single variable".
* The elments of set must be organized within curly braces { } and elements must be separated by comma.
* The elements of set **never maintains insertion Order** bcoz it displays its elements in any of the possibilities. if there are n number of objects in a set, there are **"n!"** ways to represent the set. 
* On the object of set, we **can not perform indexing and Slicing Operations** bcoz it set does not maintain insertion order.
* An object of set belongs to both **mutable ( in the case of add() )** and **immutable in the case item assignment** (set' object does not support item assignment).
* To convert one type value into set type values , we use set() function.
* We have two types of set objects.
    * empty set
    * non-empty set

##### Examples:

In [1]:
s1={10,20,10,20,30,123,-56}
print(s1, type(s1))

{-56, 10, 20, 123, 30} <class 'set'>

In [2]:
s1={10,"KVR",33.33,"OUCET","HYD",True}
print(s1, type(s1))

{33.33, 'KVR', True, 'OUCET', 10, 'HYD'} <class 'set'>

In [3]:
s1[0]=100

TypeError: 'set' object does not support item assignment

In [4]:
print(s1,type(s1),id(s1))

{33.33, 'KVR', True, 'OUCET', 10, 'HYD'} <class 'set'> 3237621664896

In [5]:
s1.add("PYTHON")

In [6]:
print(s1,type(s1),id(s1))

{33.33, 'KVR', True, 'OUCET', 10, 'HYD', 'PYTHON'} <class 'set'> 3237621664896

If we see the above two examples, even after adding the new values tothe set the address of the set didn't changes, and that demonstrate the mutability of set category data type. See one more example below.

In [8]:
s1=set()
print(s1,type(s1),id(s1))

set() <class 'set'> 3237621664896

In [9]:
len(s1)

0

In [10]:
s1.add(10)
s1.add("RS")

In [11]:
print(s1,type(s1),id(s1))

{10, 'RS'} <class 'set'> 3237621664896

###  Pre-defined Functions in set
* There are 3 categories of pre defined functions in set category data type. They are

    * set modification functions
        * <font color='#3498DB'>**add()**</font>
        * <font color='#3498DB'>**remove()**</font>
        * <font color='#3498DB'>**discard()**</font>
        * <font color='#3498DB'>**pop()**</font>
    * set query functions -- **Provide boolian output**
        * <font color='#3498DB'>**isdisjoint()**</font>
        * <font color='#3498DB'>**issuperset()**</font>
        * <font color='#3498DB'>**issubset()**</font>
    * multi set operations functions
        * <font color='#3498DB'>**union()**</font>    
        * <font color='#3498DB'>**intersection()**</font>      
        * <font color='#3498DB'>**difference()**</font>
        * <font color='#3498DB'>**symmetric_difference()**</font>
        * <font color='#3498DB'>**update()**</font>

### 1) <font color='#3498DB'>**add():**</font>
* This function is used for adding an element to the set object

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj.add(element)**</font></code>

 ##### Examples:

In [14]:
s1={10,"Rossum"}
print(s1,type(s1),id(s1))
s1.add("PYTHON")
s1.add(11.11)
print(s1,type(s1),id(s1))

{10, 'Rossum'} <class 'set'> 3237623083296
{10, 11.11, 'Rossum', 'PYTHON'} <class 'set'> 3237623083296

### 2) <font color='#3498DB'>**remove():**</font>
* This function is used for removing the specified element from set object.
* If the specified element does not exists in set object we get <font color='red'>**KeyError**</font>.

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj.remove(element)**</font></code>

 ##### Examples:

In [16]:
s1={'Rossum', 10, 11.11, 'PYTHON'}
print(s1)

{10, 11.11, 'Rossum', 'PYTHON'}

In [17]:
s1.remove(10)
print(s1)

{11.11, 'Rossum', 'PYTHON'}

In [18]:
s1.remove("Rossum")
print(s1)

{11.11, 'PYTHON'}

In [19]:
s1.remove(101)

KeyError: 101

### 3) <font color='#3498DB'>**discard():**</font>
* This function is used for removing the specified element from set object.
* <font color='red'>**If the specified element does not exists in set object we nerver get any error**</font>.

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj.discard(element)**</font></code>

 ##### Examples:

In [20]:
s1={'Rossum', 10, 11.11, 'PYTHON'}
s1.discard("Rossum")

In [21]:
print(s1)

{10, 11.11, 'PYTHON'}

In [23]:
s1.discard(10)
print(s1)

{11.11, 'PYTHON'}

In [27]:
s1.discard("PYTHON")
print(s1)

{11.11}

In [28]:
s1.discard(11.11)
print(s1)

set()

In [29]:
s1.discard(101)

**Note:** 

**Eventhough there is no element called 101, there is no error on execution of the command, which is the main differrence between remove() and discard() function.**

### 4) <font color='#3498DB'>**pop():**</font>
* This function is used for removing an arbitrary element from set object.
* If we pop on an empty set, we get <font color='red'>**KeyError**</font>

#### Rules to remember:
   * if the set is printed after decleration , then the pop() function will remove the data from left to right
   * otherwise if the set is not printed after decleration, then the pop() function will remove the element from the set object arbitrary 

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj.pop()**</font></code>

 ##### Examples:

In [30]:
s1={'Rossum', 10, 11.11, 'PYTHON'}
print(s1)

{10, 11.11, 'Rossum', 'PYTHON'}

In [31]:
s1.pop()

10

In [32]:
s1.pop()

11.11

In [33]:
s1.pop()

'Rossum'

In [34]:
s1.pop()

'PYTHON'

In [35]:
s1.pop()

KeyError: 'pop from an empty set'

In [36]:
#Example 2
s1={10,20,30,40,50,60,70,-123,3456}
s1.pop()

3456

In [37]:
s1={10,20,30,40,50,60,70,-123,3456}
print(s1)

{3456, -123, 70, 40, 10, 50, 20, 60, 30}

In [38]:
s1.pop()

3456

In [39]:
s1.pop()

-123

In [40]:
s1.pop()

70

In [41]:
s1.pop()

40

In [42]:
s1.pop()

10

In [43]:
s1.pop()

50

### 5) <font color='#3498DB'>**isdisjoint():**</font>
* Two sets are said to be disjoint when their **intersection is null**. In simple words, **they do not have any common element in between them**. 
* This Function returns **True** provided  setobj1 and setobj2 does not contains common elements
* This Function returns **False** provided  setobj1 and setobj2 contains at least one common element.

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj1.isdisjoint(setobj2)**</font></code>

 ##### Examples:

In [66]:
x = {1,2,3}
y = {4,5,6}
x.isdisjoint(y)

True

In [6]:
x = {1,2,3}
y = {2,3,4}
x.isdisjoint(y)

False

In [7]:
x.isdisjoint(x)

False

In [2]:
s1={1,2,3,4}
s2={5,6,7,1}
s3={8,9,10,12}

In [3]:
s1.isdisjoint(s2)

False

In [4]:
s1.isdisjoint(s3)

True

In [5]:
s1.isdisjoint(s1)

False

In [48]:
s1.isdisjoint(set())

True

In [49]:
set().isdisjoint(set())

True

### 6) <font color='#3498DB'>**issuperset():**</font>
* This Function returns **True** provided all the elemenets of setobj2 must present in setobj1. Otherwise we get False.

 ##### Syntax:-
   <code><font color='#D2691E'>**setob1j.issuperset(setobj2)**</font></code>

 ##### Examples:

In [50]:
s1={10,20,30,40}
s2={15,25,35,10}
s3={12,24,36,48}

In [55]:
s1.issuperset(s1)

True

In [51]:
s1.issuperset(s2)

False

In [52]:
s1.issuperset(s3)

False

In [53]:
s4={10,20}

In [54]:
s1.issuperset(s4)

True

In [56]:
s1.issuperset(set())

True

In [57]:
set().issuperset(set())

True

In [58]:
set().issubset(set())

True

In [59]:
{10,20}.issuperset({10,20})

True

In [60]:
{10,20,25}.issuperset({20,10})

True

In [3]:
{10,20}.issuperset({20,10,"pyt"})

False

### 7) <font color='#3498DB'>**issubset():**</font>
* This Function returns **True** provided all the elements of setobj1 are present in setobj2. otherwise we get **False**


 ##### Syntax:-
   <code><font color='#D2691E'>**setob1j.issubset(setobj2)**</font></code>

 ##### Examples:

In [5]:
s1={10,20,30,40}
s2={10,20}
s3={15,20}

In [6]:
s2.issubset(s1)

True

In [7]:
s3.issubset(s1)

False

In [8]:
set().issubset(set())

True

### 8) <font color='#3498DB'>**Union():**</font>
* This takes all the elements of setobj1 and setobj2 , combine them and place them in setobj3 uniquely.



 ##### Syntax:-
   <code><font color='#D2691E'>**setobj3=setob1j.union(setobj2)**</font></code>

 ##### Examples:

In [9]:
s1={"RS","JG","DR","STup"}
s2={"TRAVIS","MCK","RS"}
print(s1)
print(s2)

{'JG', 'STup', 'RS', 'DR'}
{'RS', 'MCK', 'TRAVIS'}

In [10]:
allcptp=s1.union(s2)

In [11]:
print(allcptp)

{'STup', 'DR', 'TRAVIS', 'JG', 'RS', 'MCK'}

### 9) <font color='#3498DB'>**difference():**</font>
* This function **removes the common elements** from setobj1 and setobj2 and takes **remaining elements from setobj1** and place them in setobj3.

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj3=setob1j.difference(setobj2)**</font></code>

 ##### Examples:

In [12]:
s1={"RS","JG","DR","STup"}
s2={"TRAVIS","MCK","RS"}

In [13]:
onlycp=s1-s2
print(onlycp)

{'JG', 'STup', 'DR'}

#### OR

In [18]:
onlycp=s1.difference(s2)
print(onlycp)

{'JG', 'STup', 'DR'}

In [14]:
onlytp=s2-s1
print(onlytp)

{'MCK', 'TRAVIS'}

#### OR

In [17]:
onlytp=s2.difference(s1)
print(onlytp)

{'MCK', 'TRAVIS'}

### 11) <font color='#3498DB'>**symmetric_difference():**</font>
* This function **removes common elements from setobj1 and setobj2** and takes **remaining elements from both setobj1 and setobj2** and place them in setobj3..

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj3=setob1j.symmetric_difference(setobj2)**</font></code>

 ##### Examples:

In [19]:
s1={"RS","JG","DR","STup"}
s2={"TRAVIS","MCK","RS"}

In [20]:
print(s1)
print(s2)

{'JG', 'STup', 'RS', 'DR'}
{'RS', 'MCK', 'TRAVIS'}

In [21]:
excptp=s1.symmetric_difference(s2)
print(excptp)

{'DR', 'TRAVIS', 'MCK', 'STup', 'JG'}

### 10) <font color='#3498DB'>**intersection():**</font>
* This obtains common elements from setobj1 and setobj2 and place tthem setobj3. 

 ##### Syntax:-
   <code><font color='#D2691E'>**setobj3=setob1j.intersection(setobj2)**</font></code>

 ##### Examples:

In [22]:
s1={"RS","JG","DR","STup"}
s2={"TRAVIS","MCK","RS"}

In [24]:
s3=s1.intersection(s2)
print(s3)
s3=s2.intersection(s1)
print(s3)

{'RS'}
{'RS'}

### 12) <font color='#3498DB'>**update():**</font>
* This Function updates / adds the elements of setobj2 to setobj1. 

 ##### Syntax:-
   <code><font color='#D2691E'>**setob1j.update(setobj2)**</font></code>

 ##### Examples:

In [25]:
s1={"C","CPP"}
s2={"PYTHON","DS"}

In [26]:
s1.update(s2)

In [27]:
print(s1)

{'DS', 'C', 'PYTHON', 'CPP'}

In [28]:
print(s2)

{'DS', 'PYTHON'}

### frozenset

* 'frozenset' of one of the pre-defined class treated as Set category data type.
* The purpose of frozenset data type is that "To Store Multiple Values either of same type or different type or both types with Unique  Values in a single variable".
* The elements of frozenset  organized within curly braces { }  after converting from  tuple, list,set ..etc by using frozenset()  and elements  separated by comma.
* The elements of frozenset **never maintains insertion Order** bcoz it displays its elements in any of the possibilities. if there are n number of objects in a set, there are **"n!"** ways to represent the set. 
* On the object of frozenset, we **can't perform indexing and Slicing Operations** bcoz it can't maintain  insertion order
* An object of frozenset belongs to **immutable (never allows add() ,item assignment)**
* To convert one type value into frozenset type values , we use **frozenset()**
* We have two types of frozenset objects.
    * empty frozenset
    * non-empty frozenset
    
#### a) empty frozenset:
An empty frozenset is one, whose length is 0
 ##### Syntax:-
   <code><font color='#D2691E'>**frozensetobj=frozenset()**</font></code>	
   
#### b) non-empty frozenset:
An non-empty frozenset is one, whose length is >0

##### Syntax:-
   <code><font color='#D2691E'>**frozensetobj=frozenset( {val1,val2....val-n} )**</font></code>	-- From set
   
   <code><font color='#D2691E'>**frozensetobj=frozenset( [val1,val2....val-n] )**</font></code> -- From list
   
   <code><font color='#D2691E'>**frozensetobj=frozenset( (val1,val2....val-n) )**</font></code> -- From Tuple

**Note:-** 
The functionality of frozenset is exactly similar to set but an object set belongs to both mutable ( add() ) and immutable ( item assignment) where an object **frozenset is immutable** ( not possible to add() and item assignment)

##### Examples:

In [29]:
s1={10,20,30,40,30}
print(s1,type(s1))
fs=frozenset(s1)
print(fs,type(fs))

{40, 10, 20, 30} <class 'set'>
frozenset({40, 10, 20, 30}) <class 'frozenset'>

In [30]:
tp=(10,"RS","PYTHON")
fs=frozenset(tp)
print(fs,type(fs))

frozenset({10, 'RS', 'PYTHON'}) <class 'frozenset'>

In [31]:
lst=[10,12.34,"Python","Java",2+3j]
fs=frozenset(lst)
print(fs,type(fs))

frozenset({10, (2+3j), 12.34, 'Java', 'Python'}) <class 'frozenset'>

In [32]:
print(fs[0])

TypeError: 'frozenset' object is not subscriptable

In [33]:
print(fs[0:3])

TypeError: 'frozenset' object is not subscriptable

In [34]:
fs[0]="Data Sci"

TypeError: 'frozenset' object does not support item assignment

In [35]:
fs.add("Data Sci")

AttributeError: 'frozenset' object has no attribute 'add'

In [36]:
fs=frozenset()
print(fs,type(fs))
len(fs)

frozenset() <class 'frozenset'>

0

In [37]:
fs=frozenset([10,20,20,30,30,10])
print(fs,type(fs))
len(fs)

frozenset({10, 20, 30}) <class 'frozenset'>

3

### Pre-defined Functions in Frozenset
* Frozenset object contains seven Functions. They are

    * <font color='#3498DB'>**isdisjoint()**</font> 
    * <font color='#3498DB'>**issuperset()**</font> 
    * <font color='#3498DB'>**issubset()**</font>
    * <font color='#3498DB'>**union()**</font>  
    * <font color='#3498DB'>**intersection()**</font>   
    * <font color='#3498DB'>**differnce()**</font>   
    * <font color='#3498DB'>**symmetric_difference()**</font>

* Frozenset object does not support following functions

    * <font color='#3498DB'>**add()**</font> 
    * <font color='#3498DB'>**remove()**</font> 
    * <font color='#3498DB'>**discard()**</font>   
    * <font color='#3498DB'>**pop()**</font>    
    * <font color='#3498DB'>**update()**</font>
    
##### Examples:

In [38]:
fs1=frozenset([1,2,2,3,3,4])
fs2=frozenset([5,6,7,8,9,10])

In [39]:
print(fs1)
print(fs2)

frozenset({1, 2, 3, 4})
frozenset({5, 6, 7, 8, 9, 10})

In [40]:
fs1.isdisjoint(fs2)

True

In [41]:
fs3=fs1.union(fs2)

In [42]:
print(fs3)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [43]:
fs1.difference(fs2)

frozenset({1, 2, 3, 4})

In [44]:
fs1.symmetric_difference(fs2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})